@charset "UTF-8";


body {
  background: blue;
  padding: 70px 0 0;
  font-family:Georgia, 'Times New Roman', Times, serif;
  font-style: italic;
  font-size: xx-large;
}

h2 {
  margin: 3 auto;
  font-family: Helvetica, Arial, sans-serif;
  font-size: 36px;
  margin-bottom: 20px;
  color: palevioletred;
  line-height: 1.6;
}

h3 {
  margin: 0 auto;
  font-size: 18px;
}


.content {
  margin: 0 auto;
  padding:15px 15px;
  width: 600px;
  height: 600px;
  border-radius: 20px;
  text-align: center;
  background-color: #25dbc3;
  box-shadow: 2px 2px 15px 2px black;
}

