* {box-sizing: border-box;}
body {font-family: Verdana, ;}
.mySlides {display: none;}
img {vertical-align: small;}

/* Slideshow picture */
.slideshow-picture {
  max-width: 1000px;
  position: relative;
  margin: auto;
}

/*  text */
.text {
  color: #EE82EE;
  font-size: 60px;
  padding: 10px 12px;
  position: absolute;
  bottom: 3px;
  width: 100%;
  text-align: center;
}

/* Number text */
.countpic {
  color: #8B008B;
  font-size: 15px;
  padding: 6px 6px;
  text-align: right;
  position: relative;
  top: 5px;
}

/* The dots/bullets/indicators */
.point {
  height: 12px;
  width: 14px;
  margin: 0 3px;
  background-color: #DEB887;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 1s ease;
}

.active {
  background-color: #F5F5DC;
}

/* Fading animation */
.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 1.5s;
  animation-name: fade;
  animation-duration: 1.5s;
}

@-webkit-keyframes fade {
  from {opacity: .4} 
  to {opacity: 1}
}

@keyframes fade {
  from {opacity: .4} 
  to {opacity: 1}
}
/* COUNTDOWN SECTION*/
p {
  text-align: center;
  font-size: 50px;
  margin-top: 2px;
}

h1 {
	color: #8B008B;
	text-align: center;
	font-size: 50px;
}